{% extends 'base.html' %}

{% block meta %}
<title>PacilFlix - 8</title>
{% endblock meta %}

{% block content %}
<style>
    .center-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        gap: 20px;
    }
    
    .button {
        margin-top: 3px;
    }
</style>

<div class="center-screen"> 
    <h1>PacilFlix - 8</h1>
    <a href="{% url 'authentication:login_view' %}" class="button"><button>Login</button></a>
    <a href="{% url 'authentication:register_view' %}" class="button"><button>Register</button></a>
</div>
{% endblock content %}
