{% extends 'base-tw.html' %}

{% block meta %}
     <title>Register</title>
{% endblock meta %}

{% block content %}  
<style>
     .register {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100vh;
          gap: 20px;
     }  

     h1 {
          font-family: 'Roboto', sans-serif !important;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #6f99c0;
     }

     .form-control{
          padding: 8px; /* Tambahkan padding ke input */
          border: 1px solid #ccc; /* Tambahkan border */
          border-radius: 5px; /* Tambahkan border-radius untuk sudut yang lebih lembut */
          width: 200px; /* Tentukan lebar input */
          margin: 5px;
     }

     .button {
          background-color: rgb(211, 211, 211);
          color: black;
          cursor: pointer;
          font-size: 1rem;
          text-align: center;
          border: 2px solid #000; /* Menambahkan border dengan warna hitam */
          padding: 10px 10px; /* Menambahkan padding ke tombol */
     }
</style>

{% include "navbar.html" %}
<div class="register">

     <h1>FORM REGISTRASI</h1>  

     <form method="POST">  
          {% csrf_token %}  
          <table>  
               <tr>
                    <td>Username: </td>
                    <td><input type="text" name="username" required placeholder="Username" class="form-control" maxlength="50"></td>
               </tr>
               <tr>
                    <td>Password: </td>
                    <td><input type="password" name="password" required placeholder="Password" class="form-control" maxlength="50"></td>
               </tr>
               <tr>
                    <td>Negara Asal: </td>
                    <td><input type="text" name="negara_asal" required placeholder="Negara Asal" class="form-control" maxlength="50"></td>
               </tr>
               <tr>
                    <td></td>
                    <td><input type="submit" name="submit" class="button" value="DAFTAR"/></td> 
               </tr>  
          </table>  
     </form>

     {% if messages %}
          <ul class="messages">
               {% for message in messages %}
                    <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
               {% endfor %}
          </ul>
     {% endif %} 
</div>  
{% endblock content %}