{% extends "base-tw.html" %}
{% load static %}

{% block meta %}
<title>Daftar Unduhan</title>
{% endblock meta %}

{% block content %}
<style>
   .custom-scrollbar::-webkit-scrollbar {
        width: 2px;
    }

    /* Track */
    .custom-scrollbar-white::-webkit-scrollbar-track {
        background: white !important;
        border-radius: 0px;
    }
    .custom-scrollbar-gray::-webkit-scrollbar-track {
        background: rgb(209 213 219) !important;
        border-radius: 0px;
    }

    /* Handle scrollbar*/
    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
        border: 5px solid white;
    }
    .custom-scrollbar-white::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
        border: 5px solid white;
    }
    .custom-scrollbar-gray::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
        border: 5px solid rgb(209 213 219);
    }

    /* Handle on hover */
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .top-header {
    background-color: #2986cc !important; /* Change this to the color you want */
  }

    .delete-button {
    background-color: #f06056; /* Red */
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
  }

    /* Handle on html */
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }
    table, th, td {
        border: 1px solid black;
    }
    th {
        background-color: #2986cc;
        padding: 5px;
        color: white;
    }
    td {
        padding: 5px;
        border-bottom: 1px solid #ddd;
    }
    table#favoriteTable {
        width: 100%;
        border-collapse: collapse;
    }

    table#favoriteTable th,
    table#favoriteTable td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
    table#favoriteTable tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    table#favoriteTable th {
        background-color: #434446;
        color: white;
    }
    select {
        margin-bottom: 10px;
    }
    h1 {
        text-align: center; 
        font-weight: bold; 
        font-size: 2rem; 
    }
</style>

{% include "navbar.html" %}
<div class="container">
        <table id="favoriteTable">
        <thead>
            <tr>
                <th class="top-header" colspan="3">Daftar Unduhan</th>
            </tr>
        </thead>
        <thead>
                <th>Judul</th>
                <th>Waktu Diunduh</th>
                <th>Aksi</th>
        </thead>
        <tbody>
                {% for i, j, k in tayangan_yg_terunduh %}
                <tr>
                    <td>{{ j }}</td>
                    <td>{{ k }}</td>
                    <form method="get">
                        {% csrf_token %}
                        <td>
                            <!-- <a href="{% url 'daftar_unduhan:hapus_unduhan' i %}"> -->
                                <button type="button" class="delete-button" id="confirmation" data-toggle="modal" data-target="#messageModal"  data-id="{{i}}">Hapus</button>
                            </a>
                        </td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    {% if messages %}
                        {% for message in messages %}
                        <h1 class="modal-title fs-5" id="messageModalLabelTitle">
                            {{ message }}
                        </h1>
                            {% endfor %}
                    {% endif %}
                </div>
                <div class="modal-body" id="downloadModalBody">
                    <p>
                    </p>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

</div>

    
<script>
    function delete_fun() {
        $('#messageModal').modal('show');
        // $.ajax({
        //     type: 'GET',
        //     url: "download/hapus/" + document.getElementById("confirmation").getAttribute("data-id") + "/",
        //     success: function (data) {
        //         $('#messageModal').modal('show');
        //     }, error: function (data) {
        //         $('#messageModal').modal('show');
        //     }
        // });
    }
</script>

</body>
{% endblock content %}