<nav class="bg-blue-700 py-4 px-4 fixed top-0 left-0 w-[100vw] z-20">
    <div class="container mx-auto flex items-center justify-between">
        <div class="px-4">
            <a href="#" class="text-white font-bold text-2xl">Pacilflix-8</a>
        </div>
        <div class="hidden md:block"> <!-- Hanya tampil di layar besar (md dan yang lebih besar) -->
            <ul class="flex space-x-4 items-center">
                {% if request.session.username %}
                    <li class="text-white">Hello, {{ request.session.username }}</li>
                    <li><a href="/tayangan/" class="block text-white py-2 px-4 hover:bg-blue-500">Tayangan</a></li>
                    <li><a href="/daftar-kontributor/main/" class="block text-white py-2 px-2 hover:bg-blue-500">Daftar Kontributor</a></li>
                    <li><a href="/daftar-favorit/fav/" class="block text-white py-2 px-2 hover:bg-blue-500">Daftar Favorit</a></li>
                    <li><a href="/daftar-unduhan/download/" class="block text-white py-2 px-2 hover:bg-blue-500">Daftar Unduhan</a></li>
                    <li><a href="/langganan/main/" class="block text-white py-2 px-2 hover:bg-blue-500">Langganan</a></li>
                    <li class="bg-red-600 px-2 py-2 flex items-center justify-center rounded-sm"><a href="/authentication/logout/" class="text-white hover:text-gray-300 ">Logout</a></li>
                {% else %}
                    <li><a href="/authentication" class="block text-white py-2 px-4 hover:bg-blue-500">Login/Register</a></li>
                    <li><a href="/" class="block text-white py-2 px-4 hover:bg-blue-500">Daftar Trailer</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="px-4 block md:hidden"> <!-- Tampil di layar kecil (md dan yang lebih kecil) -->
            <button id="mobile-menu-btn" class="text-white focus:outline-none">
                <svg class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>
    </div>
    <!-- Bagian menu yang disembunyikan pada layar besar, ditampilkan pada layar kecil -->
    <div id="mobile-menu" class="hidden md:hidden ">
        <ul class="py-2">
            {% if request.session.username %}
                <li class="text-white">Hello, {{ request.session.username }}</li>
                <li><a href="/tayangan/" class="text-white hover:text-gray-300">Tayangan</a></li>
                <li><a href="/daftar-kontributor/main/" class="text-white hover:text-gray-300">Daftar Kontributor</a></li>
                <li><a href="/daftar-favorit/fav/" class="text-white hover:text-gray-300">Daftar Favorit</a></li>
                <li><a href="/daftar-unduhan/download/" class="text-white hover:text-gray-300">Daftar Unduhan</a></li>
                <li><a href="/langganan/main/" class="text-white hover:text-gray-300">Langganan</a></li>
                <li class="bg-red-600 px-2 py-2 flex items-center justify-center rounded-sm"><a href="/authentication/logout/" class="text-white hover:text-gray-300 ">Logout</a></li>
            {% else %}
                <li><a href="/authentication" class="text-white hover:text-gray-300">Login/Register</a></li>
                <li><a href="../" class="block text-white py-2 px-4 hover:bg-blue-500">Daftar Trailer</a></li>
            {% endif %}
        </ul>
    </div>
</nav>



<script>
    document.getElementById('mobile-menu-btn').addEventListener('click', function () {
        document.getElementById('mobile-menu').classList.toggle('hidden');
    });
</script>