{% extends 'base-tw.html' %}

{% block meta %}
<title>Trailer</title>
{% endblock meta %}

{% block content %}
<style>
    h2 {
        font-size: x-large;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .title {
            font-size: xx-large;
            font-weight: 500;
            text-align: center;
            margin-top: 120px;
            margin-bottom: 30px;
    }

    .search-bar {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .btn-check {
        margin-bottom: 15px;
    }

    .empty {
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center;
      font-size: large;
      font-weight: 600;
    }

    .global {
      border-radius: 10px;
      background-color: #0d6efd;
      display: inline-block;
    }

    #globalButton {
      margin: 5px;
      color: white;
    }
</style>

{% include "navbar_guest.html" %}
<div class="container mt-5">
  <h1 class="title">DAFTAR TAYANGAN</h1>

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Judul tayangan" aria-label="Judul tayangan" id="searchBar">
    <button class="btn btn-primary" type="button" id="search">Search</button>
  </div>

  <h2>10 Tayangan Terbaik Minggu Ini</h2>

  <div class="global">
    <button type="button" class="btn" id="globalButton">Global</button>
  </div>

  {% if top_10 %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Peringkat</th>
        <th scope="col">Judul</th>
        <th scope="col">Sinopsis Trailer</th>
        <th scope="col">URL Trailer</th>
        <th scope="col">Tanggal Rilis Trailer</th>
        <th scope="col">Total View 7 Hari Terakhir</th>
      </tr>
    </thead>
    <tbody>
      {% for item in top_10 %}
      <tr>
        <td>{{ item.judul }}</td>
        <td>{{ item.sinopsis_trailer }}</td>
        <td>{{ item.url_video_trailer }}</td>
        <td>{{ item.release_date_trailer }}</td>
        <td>{{ item.total_view }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="empty">Belum ada tayangan yang ditonton dalam 7 hari terakhir</div>
  {% endif %}

  <h2>Film</h2>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Judul</th>
        <th scope="col">Sinopsis Trailer</th>
        <th scope="col">URL Trailer</th>
        <th scope="col">Tanggal Rilis Trailer</th>
      </tr>
    </thead>
    <tbody>
      {% for item in film %}
      <tr>
        <td>{{ item.judul }}</td>
        <td>{{ item.sinopsis_trailer }}</td>
        <td>{{ item.url_video_trailer }}</td>
        <td>{{ item.release_date_trailer }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Series</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Judul</th>
        <th scope="col">Sinopsis Trailer</th>
        <th scope="col">URL Trailer</th>
        <th scope="col">Tanggal Rilis Trailer</th>
      </tr>
    </thead>
    <tbody>
      {% for item in series %}
      <tr>
        <td>{{ item.judul }}</td>
        <td>{{ item.sinopsis_trailer }}</td>
        <td>{{ item.url_video_trailer }}</td>
        <td>{{ item.release_date_trailer }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  document.getElementById('search').addEventListener('click', function() {
    const searchValue = document.getElementById('searchBar').value;
    const encodedValue = encodeURIComponent(searchValue).replace(/'/g, "%27");
    const searchUrl = `/hasil-pencarian-trailer/${encodedValue}/`;
    window.location.href = searchUrl;
  });
</script>
{% endblock content %}