{% extends 'base-tw.html' %}

{% block meta %}
<title>Episode</title>
{% endblock meta %}

{% block content %}
<style>
    .title {
            font-size: xx-large;
            font-weight: 500;
            text-align: center;
            margin-top: 120px;
            margin-bottom: 30px;
    }

    .search-bar {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    span {
        color: black;
    }

    li {
        color: black;
    }

    h5 {
        font-size: larger;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    a {
        color: blue;
    }
    
    h2 {
        font-size: x-large;
        margin-bottom: 10px;
    }

    .btn {
        margin-top: 10px;
    }

    .message-container {
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
        font-size: large;
        font-weight: 600;
        color: red;
    }
</style>

{% include "navbar.html" %}
<div class="container mt-5">
  <h1 class="title">HALAMAN EPISODE</h1>
  <div class="col">
    <div class="row-md-8">
      <h2>Judul: <span id="judul">{{ episode.judul }}</span></h2>
      <p><b>Sub Judul</b>: <span id="subJudul">{{ episode.sub_judul }}</span></p>
      {% if released.is_released == 1 %}
      <div class="slider">
        <form id="progressForm" action="{% url 'tayangan:add_tonton' %}" method="post">
            {% csrf_token %}  
            <input type="hidden" name="id" value="{{ episode.id }}">
            <input type="hidden" name="tipe" value="series">
            <input type="hidden" name="subjudul" value="{{ episode.sub_judul }}">
            <input type="hidden" name="durasi" value="{{ episode.durasi }}">
            <label for="progress" class="form-label"><b>Progress:</b></label>
            <input type="range" class="form-range" name="progress" id="progress">
        </form>
      </div>
      <button class="btn btn-primary mb-2" id="btnTonton" onclick="submitProgress()">Tonton</button>
      <button class="btn btn-primary mb-2" id="btnFavorit" data-bs-toggle="modal" data-bs-target="#favoriteListModal" data-judul_tayangan="{{ episode.id_series }}">Favorit Series</button> 
      {% endif %}
      {% if messages %}
      <div class="message-container">
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
      </div>
      {% endif %}
      <p><b>Episode lainnya</b>:</p>
      <ul class="list-disc pl-4" id="episode">
        {% for item in other_episodes %}
        <li><a href="/tayangan/series/{{ item.url }}">{{ item.sub_judul }}</a></li>
        {% endfor %}
      </ul>
      <p><b>Sinopsis Episode:</b> <span id="sinopsis">{{ episode.sinopsis }}</span></p>
      <p><b>Durasi Episode:</b> <span id="durasi"></span>{{ episode.durasi }}</p>
      <p><b>URL Episode:</b> <a href="{{ episode.url_video}}" id="urlEpisode">{{ episode.sub_judul }}</a></p>
      <p><b>Tanggal Rilis Episode:</b> <span id="tanggalRilis">{{ episode.release_date }}</span></p>
    </div>
    <div class="modal fade" id="favoriteListModal" tabindex="-1" aria-labelledby="favoriteListModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="favoriteListModalLabelTitle">TAMBAH KE DAFTAR FAVORIT MODAL</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <select class="form-select mb-3" id="dropdown-favorite">
                        <option value="select-daftar-favorit">Judul Daftar Favorit: </option>
                        {% for judul_daftar in list_daftar_favorit %}
                        <option value="{{ judul_daftar }}">{{ judul_daftar }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <a id="link_add_favorite" href="">
                        <button type="button" class="btn btn-primary" id="button_add_favorite" data-bs-dismiss="modal">Tambah</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<script>
        function submitProgress() {
            document.getElementById("progressForm").submit();
        }
        document.getElementById('button_add_favorite').addEventListener('click', function() {
            var dropdown = document.getElementById('dropdown-favorite');
            var selectedJudul = dropdown.options[dropdown.selectedIndex].value;           
            var url = selectedJudul + "/";
            document.getElementById('link_add_favorite').setAttribute('href', url); 
        });
</script>
{% endblock content %}