{% extends 'base-tw.html' %}

{% block meta %}
<title>Episode</title>
{% endblock meta %}

{% block content %}
<style>
    .title {
            font-size: xx-large;
            font-weight: 500;
            text-align: center;
            margin-top: 120px;
            margin-bottom: 30px;
    }

    .search-bar {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    span {
        color: black;
    }

    li {
        color: black;
    }

    h5 {
        font-size: larger;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    a {
        color: blue;
    }
    
    h2 {
        font-size: x-large;
        margin-bottom: 10px;
    }

    .btn {
        margin-top: 10px;
    }
</style>

{% include "navbar.html" %}
<div class="container mt-5">
  <h1 class="title">HALAMAN EPISODE</h1>
  <div class="col">
    <div class="row-md-8">
      <h2>Judul: <span id="judul"></span></h2>
      <p><b>Sub Judul</b>: <span id="subJudul"></span></p>
      <button class="btn btn-primary mb-2" id="btnTonton">Tonton</button>
      <p><b>Episode lainnya</b>:</p>
      <ul class="list-disc pl-4" id="episode">
      </ul>
      <p><b>Sinopsis Episode:</b> <span id="sinopsis"></span></p>
      <p><b>Durasi Episode:</b> <span id="durasi"></span></p>
      <p><b>URL Episode:</b> <a href="#" id="urlEpisode">link</a></p>
      <p><b>Tanggal Rilis Episode:</b> <span id="tanggalRilis"></span></p>
    </div>
  </div>
</div>

<script>
    var data = {
            judul: "Beef",
            subJudul: "episode 1",
            episode: [,
                {subJudul: "episode 2", url: "https://google.com"},
                {subJudul: "episode 3", url: "https://google.com"}
            ],
            sinopsis: "abcdefgh",
            durasi: "81",
            urlEpisode: "https://www.google.com",
            tanggalRilis: "1 Januari 2024",
        };

        document.getElementById("judul").innerText = data.judul;
        document.getElementById("subJudul").innerText = data.subJudul;
        document.getElementById("sinopsis").innerText = data.sinopsis;
        document.getElementById("durasi").innerText = data.durasi;
        document.getElementById("urlEpisode").href = data.urlEpisode;
        document.getElementById("tanggalRilis").innerText = data.tanggalRilis;

        var episodeList = document.getElementById("episode");
        data.episode.forEach(function (episodeItem) {
            var li = document.createElement("li");
            li.innerHTML = '<a href="' + episodeItem.url + '">' + episodeItem.subJudul + '</a>';
            episodeList.appendChild(li);
        });

        document.getElementById("btnTonton").addEventListener("click", function () {
            console.log("Menonton film...");
        });
</script>
{% endblock content %}