{% extends 'base-tw.html' %}

{% block meta %}
<title>Series</title>
{% endblock meta %}

{% block content %}
<style>
    .title {
            font-size: xx-large;
            font-weight: 500;
            text-align: center;
            margin-top: 120px;
            margin-bottom: 30px;
    }

    .search-bar {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .btn-group {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    span {
        color: black;
    }

    li {
        color: black;
    }

    h5 {
        font-size: larger;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    a {
        color: blue;
    }
    
    h2 {
        font-size: x-large;
        margin-bottom: 10px;
    }
</style>

{% include "navbar.html" %}
<div class="container mt-5">
  <h1 class="title">HALAMAN SERIES</h1>
  <div class="col">
    <div class="row-md-8">
      <h2>Judul: <span id="judul"></span></h2>
      <ul class="list-disc pl-4" id="episode">
      </ul>
      <div class="btn-group" role="group">
        <button class="btn btn-primary mb-2" id="btnUnduh" data-bs-toggle="modal" data-bs-target="#downloadModal">Unduh Tayangan</button>
        <button class="btn btn-primary mb-2" id="btnFavorit" data-bs-toggle="modal" data-bs-target="#favoriteListModal">Favorit Tayangan</button>
      </div>
      <p><b>Total View:</b> <span id="totalView"></span></p>
      <p><b>Rating Rata-Rata:</b> <span id="rating"></span></p>
      <p><b>Sinopsis:</b> <span id="sinopsis"></span></p>
      <p><b>Genre:</b> <span id="genre"></span></p>
      <p><b>Asal Negara:</b> <span id="asalNegara"></span></p>
      <p><b>Pemain:</b></p>
      <ul class="list-disc pl-4" id="pemain">
      </ul>
      <p><b>Penulis Skenario:</b></p>
      <ul class="list-disc pl-4" id="penulis">
      </ul>
      <p><b>Sutradara:</b> <span id="sutradara"></span></p>
    </div>
    <div class="modal fade" id="favoriteListModal" tabindex="-1" aria-labelledby="favoriteListModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="favoriteListModalLabelTitle">TAMBAH KE DAFTAR FAVORIT MODAL</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <select class="form-select mb-3" id="dropdown-favorite">
                        <option value="select-daftar-favorit">Judul Daftar Favorit: </option>
                        <option value="favorit1">Daftar Favorit 1</option>
                        <option value="favorit2">Daftar Favorit 2</option>
                        <option value="favorit3">Daftar Favorit 3</option>
                    </select>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-primary" id="button_add_favorite" data-bs-dismiss="modal">Tambah</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="downloadModal" tabindex="-1" aria-labelledby="downloadModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="downloadModalLabelTitle">SUKSES MENAMBAHKAN TAYANGAN KE DAFTAR UNDUHAN</h1>
                </div>
                <div class="modal-body">
                    <p>Selamat! Anda telah berhasil mengunduh [Judul Tayangan] dan akan
                        berlaku hingga [current time + 7 hari]. Cek informasi selengkapnya
                        pada halaman daftar unduhan.
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="/daftar-favorit/fav/" class="text-white hover:text-gray-300 me-2">Daftar Favorit
                        <button type="button" class="btn btn-primary mb-2">Daftar Unduhan</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row-md-4">
        <h2 class="title">BAGIAN ULASAN</h2>
        <div class="form-group">
            <div class="row">
                <div class="col-md-8">
                    <input type="text" class="form-control mb-2" id="inputUlasan" placeholder="Deskripsi Ulasan">
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control mb-2" id="inputRating" placeholder="Rating (1-10)" min="0" max="10">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary mb-2" id="btnSubmit">Submit</button>
                </div>
            </div>
        </div>
        <h5><b>Daftar Ulasan:</b></h5>
        <ul class="list-disc pl-4" id="daftarUlasan">
        </ul>
    </div>
  </div>
</div>

<script>
    var data = {
            judul: "Beef",
            episode: [
                {subJudul: "episode 1", url: "/tayangan/episode"},
                {subJudul: "episode 2", url: "/tayangan/episode"},
                {subJudul: "episode 3", url: "/tayangan/episode"}
            ],
            totalView: "2",
            rating: "8.5",
            sinopsis: "abcdefgh",
            genre: "Drama",
            asalNegara: "Jepang",
            pemain: ["Pemain 1", "Pemain 2", "Pemain 3"],
            penulis: ["Penulis 1", "Penulis 2"],
            sutradara: "Sutradara",
            ulasan: [
                {username: "agus", deskripsi: "Series bagus sekali!", rating: 9},
                {username: "muklis", deskripsi: "Series lumayan bagus!", rating: 8},
                {username: "alexander", deskripsi: "WOWWW!", rating: 10}
            ]
        };

        document.getElementById("judul").innerText = data.judul;
        document.getElementById("totalView").innerText = data.totalView;
        document.getElementById("rating").innerText = data.rating;
        document.getElementById("sinopsis").innerText = data.sinopsis;
        document.getElementById("genre").innerText = data.genre;
        document.getElementById("asalNegara").innerText = data.asalNegara;
        document.getElementById("sutradara").innerText = data.sutradara;

        var pemainList = document.getElementById("pemain");
        data.pemain.forEach(function (pemainItem) {
            var li = document.createElement("li");
            li.innerText = pemainItem;
            pemainList.appendChild(li);
        });

        var penulisList = document.getElementById("penulis");
        data.penulis.forEach(function (penulisItem) {
            var li = document.createElement("li");
            li.innerText = penulisItem;
            penulisList.appendChild(li);
        });

        var ulasanList = document.getElementById("daftarUlasan");
        data.ulasan.forEach(function (ulasanItem) {
            var li = document.createElement("li");
            li.innerHTML = "<b>Username:</b> " + ulasanItem.username + "</br>" +
                           "<b>Rating:</b> " + ulasanItem.rating + "</br>" +
                           "<b>Deskripsi:</b> " + ulasanItem.deskripsi + "</br></br>";
            ulasanList.appendChild(li);
        });
        
        var episodeList = document.getElementById("episode");
        data.episode.forEach(function (episodeItem) {
            var li = document.createElement("li");
            li.innerHTML = '<a href="' + episodeItem.url + '">' + episodeItem.subJudul + '</a>';
            episodeList.appendChild(li);
        });

        document.getElementById("btnUnduh").addEventListener("click", function () {
            console.log("Mengunduh tayangan...");
        });

        document.getElementById("btnFavorit").addEventListener("click", function () {
            console.log("Menambahkan ke favorit...");
        });

        document.getElementById("btnSubmit").addEventListener("click", function() {
            var inputRating = document.getElementById("inputRating").value;
            if (isNaN(inputRating) || inputRating < 0 || inputRating > 10) {
                alert("Rating harus dalam rentang 0-10");
                return false;
            }

            console.log("Rating: " + inputRating);
            // ...
        });

        document.getElementById("button_add_favorite").addEventListener("click", function() {
            document.getElementById("dropdown-favorite").selectedIndex = 0;
        });
</script>
{% endblock content %}