{% extends 'base-tw.html' %}

{% block meta %}
<title>Series</title>
{% endblock meta %}

{% block content %}
<style>
    .title {
            font-size: xx-large;
            font-weight: 500;
            text-align: center;
            margin-top: 120px;
            margin-bottom: 30px;
    }

    .search-bar {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .btn-group {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    span {
        color: black;
    }

    li {
        color: black;
    }

    h5 {
        font-size: larger;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    a {
        color: blue;
    }
    
    h2 {
        font-size: x-large;
        margin-bottom: 10px;
    }

    .empty {
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center;
      font-size: large;
      font-weight: 600;
    }

    .message-container {
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
        font-size: large;
        font-weight: 600;
        color: red;
    }
</style>

{% include "navbar.html" %}
<div class="container mt-5">
  <h1 class="title">HALAMAN SERIES</h1>
  <div class="col">
    <div class="row-md-8">
      <h2>Judul: <span id="judul">{{ series.judul }}</span></h2>
      <a href="{% url 'tayangan:unduh_tayangan' series.id %}">
          <button class="btn btn-primary mb-2" id="btnUnduh" data-bs-toggle="modal" data-bs-target="#downloadModal" data-id= "{{ series.id }}">Unduh Tayangan
      </a>
      <button class="btn btn-primary mb-2" id="btnFavorit" data-bs-toggle="modal" data-bs-target="#favoriteListModal">Favorit Tayangan</button> 
      <p><b>Episode:</b></p>
      <ul class="list-disc pl-4" id="episode">
        {% for item in episode %}
        <li><a href="/tayangan/series/{{ item.url }}">{{ item.sub_judul }}</a></li>
        {% endfor %}
      </ul>
      <div class="btn-group" role="group">
      <p><b>Total View:</b> <span id="totalView">{{ view.count }}</span></p>
      <p><b>Rating Rata-Rata:</b> <span id="rating">{{ rating.avg }}</span></p>
      <p><b>Sinopsis:</b> <span id="sinopsis">{{ series.sinopsis }}</span></p>
      <p><b>Genre:</b> <span id="genre">{{ series.genre }}</span></p>
      <p><b>Asal Negara:</b> <span id="asalNegara">{{ series.asal_negara }}</span></p>
      <p><b>Pemain:</b></p>
      <ul class="list-disc pl-4" id="pemain">
        {% for item in pemain %}
        <li>{{ item.nama }}</li>
        {% endfor %}
      </ul>
      <p><b>Penulis Skenario:</b></p>
      <ul class="list-disc pl-4" id="penulis">
        {% for item in penulis %}
        <li>{{ item.nama }}</li>
        {% endfor %}
      </ul>
      <p><b>Sutradara:</b> <span id="sutradara">{{ series.nama_sutradara }}</span></p>
    </div>
    <div class="modal fade" id="favoriteListModal" tabindex="-1" aria-labelledby="favoriteListModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="favoriteListModalLabelTitle">TAMBAH KE DAFTAR FAVORIT MODAL</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <select class="form-select mb-3" id="dropdown-favorite">
                        <option value="select-daftar-favorit">Judul Daftar Favorit: </option>
                        {% for judul_daftar in list_daftar_favorit %}
                        <option value="{{ judul_daftar }}">{{ judul_daftar }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <a id="link_add_favorite" href="">
                        <button type="button" class="btn btn-primary" id="button_add_favorite" data-bs-dismiss="modal">Tambah</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="downloadModal" tabindex="-1" aria-labelledby="downloadModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="downloadModalLabelTitle">SUKSES MENAMBAHKAN TAYANGAN KE DAFTAR UNDUHAN</h1>
                </div>
                <div class="modal-body" id="downloadModalBody">
                    <p>
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'daftar_unduhan:show_download'%}" class="text-white hover:text-gray-300 me-2">
                        <button type="button" class="btn btn-primary mb-2">Daftar Unduhan</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row-md-4 ulasan">
        <h2 class="title">BAGIAN ULASAN</h2>
        <div class="form-group">
            <form action="{% url 'tayangan:add_ulasan' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ series.id }}">
                <input type="hidden" name="tipe" value="series">
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control mb-2" id="inputUlasan" name="deskripsi" placeholder="Deskripsi Ulasan" maxlength="255" required>
                    </div>
                    <div class="col-md-2">
                        <input type="number" class="form-control mb-2" id="inputRating" name="rating" placeholder="Rating (1-10)" min="1" max="10" required>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary mb-2" id="btnSubmit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        {% if messages %}
        <div class="message-container">
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <h5><b>Daftar Ulasan:</b></h5>
        <ul class="list-disc pl-4" id="daftarUlasan">
            {% for item in ulasan %}
            <b>Username:</b> {{ item.username }}</br>
            <b>Rating:</b> {{ item.rating }}</br>
            <b>Deskripsi:</b> {{ item.deskripsi }}</br></br>
            {% empty %}
            <div class="empty">Belum ada ulasan</div>
            {% endfor %}
        </ul>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById("btnTonton").addEventListener("click", function () {
            console.log("Menonton film...");
        });
    
        document.getElementById("btnUnduh").addEventListener("click", function () {
            var date = new Date();
            date.setDate(date.getDate() + 7);
            document.getElementById("downloadModalBody").innerHTML = "Selamat! Anda telah berhasil mengunduh " + document.getElementById("judul").innerHTML + " dan akan berlaku hingga " + date.toLocaleDateString('en-GB', { day: 'numeric', month: 'numeric', year: 'numeric' }) + ". Cek informasi selengkapnya pada halaman daftar unduhan.";
        });
    
        document.getElementById('button_add_favorite').addEventListener('click', function() {
            var selected_daftar = e.target.options[e.target.selectedIndex].value;
            var judul_film = document.getElementById('judul').innerHTML;
            var url = 'favorit-series/' + judul_film + '/' + selected_daftar + '/';
            document.getElementById('link_add_favorite').setAttribute('href', url);
        });
    
        document.getElementById("btnSubmit").addEventListener("click", function() {
            var inputRating = document.getElementById("inputRating").value;
            if (isNaN(inputRating) || inputRating < 0 || inputRating > 10) {
                alert("Rating harus dalam rentang 0-10");
                return false;
            }
    
            console.log("Rating: " + inputRating);
        });
    });
</script>
{% endblock content %}